/*
 *  https://www.hogent.be/dit-is-hogent/huisstijl/huisstijl-kleuren/
 *  https://fonts.google.com/specimen/Montserrat
 *  https://fonts.google.com/specimen/Inconsolata
 */

 @import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
 
 body {
     background: url("https://www.hogent.be/sites/hogent/assets/Image/logo-1.jpg");
     background-position: 100% 90%;
     background-size: 300px;
     background-repeat: no-repeat;
     font-family: "Montserrat", "Arial", sans-serif;
     font-weight: 400;
     font-size: 4rem;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: #4ca2d5;
     font-weight: 800;
     margin-bottom: 0.5em;
     line-height: 1.25;
 }
 
 h1 {
     font-size: 2.5em;
 }
 
 h2 {
     font-size: 1.6em;
 }
 
 h3 {
     font-size: 1.3em;
 }
 
 h4 {
     font-size: 1em;
 }
 
 b,
 strong {
     color: #ef8767;
     font-weight: bold;
 }
 
 i,
 em {
     font-style: italic;
 }
 
 a {
     color: #4ca2d5;
 }
 
 a:hover {
     color: #c3bbaf;
     text-decoration: none;
 }
 
 code {
     color: #4ca2d5;
     font-family: "Inconsolata", monospace;
 }
 
 pre code {
     background-color: #ffffff;
     text-align: left;
     font-size: 0.6em;
     white-space: pre-wrap;
     border-style: solid;
     border-width: 3px;
     border-color: #c3bbaf;
     border-radius: 10px;
 }
 
 p {
     line-height: 1.3;
     margin-bottom: 0.5em;
 }
 
 blockquote {
     background-color: #ffffff;
     font-style: italic;
     line-height: 1.3;
     border-style: solid;
     border-width: 3px;
     border-color: #c3bbaf;
     border-radius: 10px;
     padding: 0.5em;
 }
 
 /* TODO */
 img,
 video,
 iframe {
     max-width: 95vw;
     max-height: 95vh;
 }
 
 table {
     font-size: 0.75em;
     border-collapse: collapse;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
 
     /* Somehow the table doesn't get the .reveal class,
      * so we need this for centering the table 
      */
     margin-left: auto;
     margin-right: auto;
 }
 
 th,
 td {
     border-style: solid;
     border-width: 3px;
     border-color: black;
     padding: 0.25em 0.5em 0.25em 0.5em;
 }
 
 th {
     background-color: black;
     color: white;
     font-weight: bold;
 }
 
 li {
     text-align: left;
     line-height: 1.3;
     margin-left: 3ch;
 }
 
 .reveal ol {
     list-style-type: decimal;
 }
 
 .reveal ul {
     list-style-type: disc;
 }
 
 .reveal ul ul {
     list-style-type: square;
 }
 
 .reveal ul ul ul {
     list-style-type: circle;
 }
 
 .reveal .progress {
     height: 1vh;
     background: #ffffff;
 }
 
 .reveal .progress span {
     background: #4ca2d5;
 }
 
 .reveal .controls {
     color: #4ca2d5;
 }
 
 .reveal .slide-number {
     font-size: 1rem;
     color: #4ca2d5;
     background-color: transparent;
 }
 
 .reveal .slide-number a {
     text-decoration: none;
 }
 
 .multicolumn {
     /* https://stackoverflow.com/a/44392145 */
     display: grid;
     grid-auto-flow: column;
     grid-auto-columns: minmax(0, 1fr);
     gap: 5vw;
     margin-bottom: 0.5em;
 }
 